* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: 'tt-squares';
    src: url('/fonts/tt-squares/TTSquares-Black.woff2') format('woff2'),
         url('/fonts/tt-squares/TTSquares-Black.woff') format('woff'),
         url('/fonts/tt-squares/TTSquares-Black.ttf') format('truetype');
    font-weight: 900; /* Black */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'tt-squares';
    src: url('/fonts/tt-squares/TTSquares-Bold.woff2') format('woff2'),
         url('/fonts/tt-squares/TTSquares-Bold.woff') format('woff'),
         url('/fonts/tt-squares/TTSquares-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'tt-squares';
    src: url('/fonts/tt-squares/TTSquares-Regular.woff2') format('woff2'),
         url('/fonts/tt-squares/TTSquares-Regular.woff') format('woff'),
         url('/fonts/tt-squares/TTSquares-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'tt-squares';
    src: url('/fonts/tt-squares/TTSquares-Light.woff2') format('woff2'),
         url('/fonts/tt-squares/TTSquares-Light.woff') format('woff'),
         url('/fonts/tt-squares/TTSquares-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
  }
  
  /* Css menú */
  body {
    margin: 0;
    padding: 0;
    font-family: 'TT Squares', sans-serif;
    font-weight: 700;
    color: #1B3F8D;
    background-color: #ffffff; /* color de fondo general si deseas */
  }
  .menu {
    width: 100%;
    font-family: 'TT Squares', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}
.menu-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}
.first-row {
    height: 100px;
    background-color: #1B3F8D;
    color: white;
}
.second-row {
    height: 50px;
    background-color: #d3dce5;
    color: #1B3F8D;
}

/* Barra de búsqueda */
.search-bar {
    display: flex;
    align-items: center;
    border: 2px solid white;
    width: 350px;
    height: 40px;
    padding: 0 10px;
}
.search-bar input {
    border: none;
    background: transparent;
    color: white;
    width: 100%;
    outline: none;
    font-family: 'TT Squares', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}
.search-bar .icon {
    cursor: pointer;
    color: white;
}
.search-bar:hover {
    background-color: white;
}
.search-bar:hover input,
.search-bar:hover .icon {
    color: #1B3F8D;
}

/* Iconos */
.icons .icon {
    margin-left: 10px;
    cursor: pointer;
    color: white;
}
.icons a {
  text-decoration: none;
  outline: none;
}
.icons .icon :hover {
    opacity: 0.6;
}
.icons .icon :active {
    opacity: 1;
}

/* Botón de inicio de sesión */
.btn.login-btn {
    padding: 10px 40px;
    background-color: white;
    color: #1B3F8D;
    border: none;
    cursor: pointer;
    font-family: 'TT Squares', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    box-sizing: border-box;
    transition: all 0.3s ease;
}
.btn.login-btn:hover {
    background-color: transparent;
    color: white;
    box-shadow: inset 0 0 0 2px #ffffff;
}
.btn.login-btn:active {
    background-color: white;
    color: #1B3F8D;
}

/* Segunda fila de botones */
.second-row nav a {
    margin-right: 30px;
    color: #1B3F8D;
    text-decoration: none;
}
.second-row nav a:hover {
    opacity: 0.6;
    text-decoration: underline;
}
.second-row nav a:active {
    opacity: 1;
}

/* Iconos sociales */
.social-icons a {
  text-decoration: none;
}
.social-icons .icon {
    margin-left: 15px;
    color: #1B3F8D;
}
.social-icons .icon :hover {
    opacity: 0.6;
}
.social-icons .icon :active {
    opacity: 1;
}

/* Menú móvil */
.mobile-header {
  display: none;
  background-color: #1B3F8D;
  color: white;
  padding: 5px 20px 0 20px;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  
}
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  max-width: 300px;
  height: 100%;
  background-color: #ffffff;
  color: #1B3F8D;
  padding: 20px;
  z-index: 10;
  font-family: 'TT Squares', sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  overflow-y: auto;  /* Permite scroll vertical */
  scrollbar-width: none;    
}
.mobile-menu nav a {
  display: block;
  padding: 15px 0;
  color: #1B3F8D;
  text-decoration: none;
}
.mobile-menu nav a:active {
  opacity: 0.6;
  text-decoration: underline;
}
.close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}
/* Botón de inicio de sesión */
.btn.login-btn_2 {
  padding: 10px 40px;
  margin: 20px 0;
  background-color: #1B3F8D;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-family: 'TT Squares', sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
}
.btn.login-btn_2:active {
  background-color: transparent;
  color: #1B3F8D;
  border: 2px solid  #1B3F8D;
}




/* Barra de búsqueda móvil */
.mobile-search-bar {
display: none; /* Oculta inicialmente */
position: fixed;
top: 0; /* Debajo de la cabecera móvil */
left: 0;
width: 100%;
padding: 10px 20px;
background-color: #1B3F8D;
z-index: 11; /* Por encima del menú móvil */
box-sizing: border-box;
}

.mobile-search-bar input {
width: calc(100% - 40px); /* Espacio para el botón de cerrar */
height: 40px;
padding: 0 10px;
border: none;
outline: none;
font-family: 'TT Squares', sans-serif;
font-weight: 700;
font-size: 0.75rem;
background-color: #fff;
color: #1B3F8D;
box-sizing: border-box;
}

.mobile-search-close {
position: absolute;
right: 20px;
top: 54%;
transform: translateY(-50%);
cursor: pointer;
}

.mobile-search-close img {
width: 19px;
height: 19px;
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* Css migas de pan */
  .breadcrumbs {
    background-color: #F2F2F2;
    padding: 0 10%;
    display: flex;
    align-items: center;
  }
  
  .breadcrumbs nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0 10px 0;
  }
  
  .breadcrumbs a{
    text-decoration: none; /* Quita el subrayado */
    color: inherit; /* Hereda el color del elemento padre */
  }
  .breadcrumb-item {
    font-family: 'TT Squares', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #000;
    margin-right: 20px;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .breadcrumb-item:hover {
    font-weight: 400;
  }
  
  .breadcrumb-item:active {
    font-weight: 300;
  }
  
  .breadcrumb-active {
    font-weight: 400;
    cursor: default;
    pointer-events: none;
  }
















 


/* Contenedor principal del carrito */
.cart-container {
  margin: 30px 20%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
  background: #fff;
}

/* Título */
.cart-title {
  font-family: 'TT Squares', sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  margin-bottom: 20px;
}

/* Contenedor de todos los productos */
.cart-products {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Cada producto (card) */
.cart-product {
  position: relative; /* Para que el <a> pueda posicionarse sobre toda la card */
  display: flex;
  gap: 10px;
  background-color: #fff;
  transition: box-shadow 0.2s ease;
}

/* Estado hover con sombra */
.cart-product:hover {
  box-shadow: 0 0 15px rgba(27, 63, 141, 100%);
}

/* Imagen del producto */
.product-image img {
  width: 110px;
  height: 110px;
  object-fit: cover;
}

/* Contenedor de la info del producto */
.product-info {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Textos (nombre, descripción, contador, basura) */
.product-texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Nombre del producto */
.product-name {
  font-family: 'TT Squares', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  /* Truncar texto si es muy largo */

  margin: 0;
}

/* Descripción */
.product-desc {
  font-family: 'TT Squares', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;

  margin: 0;
}

/* Icono de basura */
.quantity-control .trash-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.quantity-control .trash-icon:hover {
  opacity: 0.6;
}
.quantity-control .trash-icon:active {
  opacity: 1;
}

/* Precio */
.product-price {
  font-family: 'TT Squares', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

/* Estilos del contador (ya proporcionados) */
.quantity-control {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-control img {
  width: 18px;
  height: 18px;
  margin: 6.3px 0;
}

.quantity-button {
  width: 30px;
  height: 30px;
  background: #1B3F8D;
  cursor: pointer;
  border: none;
}

.quantity-button:hover {
  opacity: 0.6;
}

.quantity-button:active {
  opacity: 1;
}

.quantity-display {
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid #1B3F8D;
  font-family: 'TT Squares', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

/* Footer del carrito (Total y botón de pagar) */
.cart-footer {
  margin: 30px 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-total {
  font-size: 1rem;
  font-weight: 700;
}

.btn-pagar {
  background: #1B3F8D;
  color: #fff;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  font-family: 'TT Squares', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.btn-pagar:hover {
  background-color: transparent;
  color: #1B3F8D;
  box-shadow: inset 0 0 0 2px #1B3F8D;
}

.btn-pagar:active {
  background: #1B3F8D;
  color: #fff;
}

/* Modal */
.modal {
  display: none; /* oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

/* Contenido del modal */
.modal-content {
  width: 350px;
  background: #000000;
  opacity: 0.8;
  padding: 30px 0;
  box-shadow: 0 0 15px rgb(0, 0, 0);
  text-align: center;
  color: white;
  position: absolute; /* para centrarlo fácilmente */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-text {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
  max-width: 80%;
}

/* Iconos dentro del modal */
.modal-icons {
  display: flex;
  gap: 30px;
}
.modal-icons img:hover {
  opacity: 0.6;
}
.modal-icons img:active {
  opacity: 1;
}
.close-modal {
  margin-top: 10px;
  height: 18px;
  cursor: pointer;
}
.full-card-link {
  pointer-events: none; /* Desactiva sus clics */
  opacity: 0; /* O lo ocultas visualmente */
}






















.footer {
  background-color: #2D333C;
  padding: 50px 10%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* Permite alinear verticalmente según contenido */
  flex-wrap: nowrap; /* Mantiene las columnas en una sola fila */
}

.footer-column {
  flex: 1;
  margin: 0 20px;
  min-width: 100px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centra verticalmente el logo */
  text-align: center;
}

.footer-column h3 {
  font-family: 'TT Squares', sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  margin-bottom: 20px;
  color: white;
}
.footer-column p {
  font-family: 'TT Squares', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
}
.footer-column a {
  font-family: 'TT Squares', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
}

.footer-column a:hover {
  text-decoration: underline;
  opacity: 0.6;
}

.footer-column a:active {
  opacity: 1;
  text-decoration: underline;
}

.footer-column .social-icons_footer {
  display: flex;
  gap: 20px;
}

.social-icons_footer .icon {
  font-size: 24px;
  color: white;
  transition: opacity 0.3s ease;
}

.social-icons_footer .icon:hover {
  opacity: 0.6;
}

.social-icons_footer .icon:active {
  opacity: 1;
}










/* BOTÓN FLOTANTE - FIJO */
.boton_regreso {
  position: fixed;
  right: 20px;
  bottom: 35px;
  background-color: #1B3F8D;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  transition: all 0.3s ease;
}

.boton_regreso-icono {
  width: 18px; /* Icono versión escritorio */
  height: 18px;
  margin: 10px;
  transition: filter 0.3s ease;
}

.boton_regreso:hover {
  opacity: 0.6;
}

/* FOCUS: Volver al estado normal */
.boton_regreso:active {
opacity: 1;
}
  
  
  
  
  
  /* Responsive */
  /* Reducir el tamaño del logo en la versión móvil */
  @media (max-width: 1050px) {
    /* Css menú */
      .menu {
          display: none;
      }
      .mobile-header {
          display: flex;
      }
      .mobile-header .logo img {
          height: 30px; /* Ajuste de tamaño para versión móvil */
      }
      .mobile-menu nav a:active {
        opacity: 1;
        text-decoration: underline;
      }
      .social-icons .icon :hover {
        opacity: 1;
      }
      .mobile-header .search-toggle img{
        width: 21px;
      }
  
  
  
  
  
  
  
  
      /* Css migas de pan */
      .breadcrumbs {
        padding: 0 20px;
    }
    .breadcrumbs nav {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 8px 0 8px 0;
    }
  
    .breadcrumb-item {
        font-size: 0.75rem;
    }
  
    .breadcrumb-item:not(:first-child):not(:last-child) {
      display: none;
    }
    .breadcrumb-item:hover {
      font-weight: 300;
    }
    
    .breadcrumb-item:active {
      font-weight: 300;
    }
  
    /* .breadcrumb-item:not(:first-child):not(:nth-last-child(2)) {
      display: none;
  } */
  
  
  
  









  



  .cart-container {
    margin: 30px 20%;
    padding: 20px 10px;
  }
  .cart-product {
    margin-bottom: 15px;
  }
  .cart-product:hover {
    box-shadow: none;
  }
  .product-image img {
    width: 60px;
    height: 60px;
  }
  .cart-title {
    font-size: 1.125rem;
  }
  .product-name {
    font-size: 0.75rem;
  }
  .product-desc {
    font-size: 0.75rem;
  }
  .product-price {
    font-size: 0.75rem;
  }
  .quantity-control img {
    width: 15px;
    height: 15px;
    margin: 5px 0;
  }
  .quantity-button {
    width: 25px;
    height: 25px;
    background: #1B3F8D;
    cursor: pointer;
    border: none;
  }
  
  .quantity-button:hover {
    opacity: 1;
  }
  
  .quantity-display {
    width: 50px;
    height: 25px;
    font-size: 0.75rem;
  }
  .quantity-control .trash-icon {
    width: 20px;
    height: 20px;
  }
  .quantity-control .trash-icon:hover {
    opacity: 1;
  }
  .cart-total {
    font-size: 0.75rem;
  }
  
  .btn-pagar {
    font-size: 0.75rem;
  }
  
  .btn-pagar:hover {
    background: #1B3F8D;
    color: #ffffff;
    border: none;
  }
  /* Contenido del modal */
  .modal-content {
  width: 300px;
  }
  .modal-text {
    font-size: 0.75rem;
  }
  .modal-icons {
    gap: 30px;
  }
  .modal-icons img:hover {
    opacity: 1;
  }
  .modal-icons img:active {
    opacity: 1;
  }
  
  .close-modal {
    margin-top: 10px;
    height: 16px;
    cursor: pointer;
  }

  






  
  

  
  
  
  
  
  
  
  
  
   /* Footer móvil */
 .footer {
  padding: 50px 20px 5px 20px;
}
.footer-container {
  flex-direction: column;
  align-items: center;
}
.footer-column h3 {
  font-size: 0.75rem;
}
.footer-column p {
  font-size: 0.75rem;
}
.footer-column a {
  font-size: 0.75rem;
}

.footer-column {
    margin-bottom: 30px;
    text-align: center;
}

.footer-column a:hover {
    text-decoration: none;
    opacity: 1; /* Igual al estado normal */
}
.social-icons_footer {
  justify-content: center;
  align-items: center;
}
.social-icons_footer .icon {
    font-size: 20px;
}
.social-icons_footer .icon:hover {
  opacity: 1;
}










.boton_regreso {
  width: 30px;
  height: 30px;
}

.boton_regreso-icono {
  width: 18px;
  height: 18px;
}
.boton_regreso:hover {
opacity: 1;
}

/* FOCUS: Volver al estado normal */
.boton_regreso:active {
opacity: 1;
}
  }







/* Responsive */
  /* Reducir el tamaño del logo en la versión móvil */
  @media (max-width: 500px) {

  .cart-container {
    margin: 20px 20px;
    padding: 20px 10px;
  }
  .cart-footer {
    margin: 30px 20px;
  }
  }




