* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: 'tt-squares';
    src: url('/fonts/tt-squares/TTSquares-Black.woff2') format('woff2'),
         url('/fonts/tt-squares/TTSquares-Black.woff') format('woff'),
         url('/fonts/tt-squares/TTSquares-Black.ttf') format('truetype');
    font-weight: 900; /* Black */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'tt-squares';
    src: url('/fonts/tt-squares/TTSquares-Bold.woff2') format('woff2'),
         url('/fonts/tt-squares/TTSquares-Bold.woff') format('woff'),
         url('/fonts/tt-squares/TTSquares-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'tt-squares';
    src: url('/fonts/tt-squares/TTSquares-Regular.woff2') format('woff2'),
         url('/fonts/tt-squares/TTSquares-Regular.woff') format('woff'),
         url('/fonts/tt-squares/TTSquares-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'tt-squares';
    src: url('/fonts/tt-squares/TTSquares-Light.woff2') format('woff2'),
         url('/fonts/tt-squares/TTSquares-Light.woff') format('woff'),
         url('/fonts/tt-squares/TTSquares-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
  }
  
  /* Css menú */
  body {
    font-family: 'TT Squares', sans-serif;
    margin: 0;
    color: #1B3F8D;
  }
  .menu {
    width: 100%;
      font-family: 'TT Squares', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}
.menu-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}
.first-row {
    height: 100px;
    background-color: #1B3F8D;
    color: white;
}
.second-row {
    height: 50px;
    background-color: #d3dce5;
    color: #1B3F8D;
}

/* Barra de búsqueda */
.search-bar {
    display: flex;
    align-items: center;
    border: 2px solid white;
    width: 350px;
    height: 40px;
    padding: 0 10px;
}
.search-bar input {
    border: none;
    background: transparent;
    color: white;
    width: 100%;
    outline: none;
    font-family: 'TT Squares', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}
.search-bar .icon {
    cursor: pointer;
    color: white;
}
.search-bar:hover {
    background-color: white;
}
.search-bar:hover input,
.search-bar:hover .icon {
    color: #1B3F8D;
}

/* Iconos */
.icons .icon {
    margin-left: 10px;
    cursor: pointer;
    color: white;
}
.icons a {
  text-decoration: none;
  outline: none;
}
.icons .icon :hover {
    opacity: 0.6;
}
.icons .icon :active {
    opacity: 1;
}

/* Botón de inicio de sesión */
.btn.login-btn {
    padding: 10px 40px;
    background-color: white;
    color: #1B3F8D;
    border: none;
    cursor: pointer;
    font-family: 'TT Squares', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    box-sizing: border-box;
    transition: all 0.3s ease;
}
.btn.login-btn:hover {
    background-color: transparent;
    color: white;
    box-shadow: inset 0 0 0 2px #ffffff;
}
.btn.login-btn:active {
    background-color: white;
    color: #1B3F8D;
}

/* Segunda fila de botones */
.second-row nav a {
    margin-right: 30px;
    color: #1B3F8D;
    text-decoration: none;
}
.second-row nav a:hover {
    opacity: 0.6;
    text-decoration: underline;
}
.second-row nav a:active {
    opacity: 1;
}

/* Iconos sociales */
.social-icons a {
  text-decoration: none;
}
.social-icons .icon {
    margin-left: 15px;
    color: #1B3F8D;
}
.social-icons .icon :hover {
    opacity: 0.6;
}
.social-icons .icon :active {
    opacity: 1;
}

/* Menú móvil */
.mobile-header {
  display: none;
  background-color: #1B3F8D;
  color: white;
  padding: 5px 20px 0 20px;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  
}
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  max-width: 300px;
  height: 100%;
  background-color: #ffffff;
  color: #1B3F8D;
  padding: 20px;
  z-index: 10;
  font-family: 'TT Squares', sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  overflow-y: auto;  /* Permite scroll vertical */
  scrollbar-width: none;    
}
.mobile-menu nav a {
  display: block;
  padding: 15px 0;
  color: #1B3F8D;
  text-decoration: none;
}
.mobile-menu nav a:active {
  opacity: 0.6;
  text-decoration: underline;
}
.close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}
/* Botón de inicio de sesión */
.btn.login-btn_2 {
  padding: 10px 40px;
  margin: 20px 0;
  background-color: #1B3F8D;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-family: 'TT Squares', sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
}
.btn.login-btn_2:active {
  background-color: transparent;
  color: #1B3F8D;
  border: 2px solid  #1B3F8D;
}




/* Barra de búsqueda móvil */
.mobile-search-bar {
display: none; /* Oculta inicialmente */
position: fixed;
top: 0; /* Debajo de la cabecera móvil */
left: 0;
width: 100%;
padding: 10px 20px;
background-color: #1B3F8D;
z-index: 11; /* Por encima del menú móvil */
box-sizing: border-box;
}

.mobile-search-bar input {
width: calc(100% - 40px); /* Espacio para el botón de cerrar */
height: 40px;
padding: 0 10px;
border: none;
outline: none;
font-family: 'TT Squares', sans-serif;
font-weight: 700;
font-size: 0.75rem;
background-color: #fff;
color: #1B3F8D;
box-sizing: border-box;
}

.mobile-search-close {
position: absolute;
right: 20px;
top: 54%;
transform: translateY(-50%);
cursor: pointer;
}

.mobile-search-close img {
width: 19px;
height: 19px;
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* Css migas de pan */
  .breadcrumbs {
    background-color: #F2F2F2;
    padding: 0 10%;
    display: flex;
    align-items: center;
  }
  
  .breadcrumbs nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0 10px 0;
  }
  
  .breadcrumbs a{
    text-decoration: none; /* Quita el subrayado */
    color: inherit; /* Hereda el color del elemento padre */
  }
  .breadcrumb-item {
    font-family: 'TT Squares', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #000;
    margin-right: 20px;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .breadcrumb-item:hover {
    font-weight: 400;
  }
  
  .breadcrumb-item:active {
    font-weight: 300;
  }
  
  .breadcrumb-active {
    font-weight: 400;
    cursor: default;
    pointer-events: none;
  }












/* Contenedor principal con margen del 10% en escritorio */
.main-container {
    margin: 30px 10%;
    display: flex;
    gap: 20px; /* espacio entre columnas */
  }
  
  /* Sidebar: primera columna de ancho fijo */
  .sidebar {
    width: 200px;
  }
  
  /* Título del Sidebar */
  .sidebar-title {
    font-family: 'TT Squares', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: underline;
    margin-bottom: 30px;
  }
  
  /* Navegación del Sidebar */
  .sidebar-nav {
    font-family: 'TT Squares', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 15px; /* espacio entre botones */
  }
  
  /* Estilos para los enlaces (botones de texto) */
  .nav-link {
    color: #1B3F8D;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Estado hover: subrayado y opacity 0.6 */
  .nav-link:hover {
    text-decoration: underline;
    opacity: 0.6;
  }
  
  /* Estado pressed (active): mantiene subrayado y opacity al 100% */
  .nav-link:active {
    text-decoration: underline;
    opacity: 1;
  }
  
  .content {
    flex: 1;          /* La segunda columna se expande en todo el espacio restante */
    display: block;    /* O flex, según lo que necesites dentro */
  }
  


  .contact-section {
    margin: 0 0;
    font-family: 'TT Squares', sans-serif;
  }
  .contact-title {
    font-family: 'TT Squares', sans-serif;
      font-size: 2.25rem;
      font-weight: 700;
      text-align: left;
      color: #1B3F8D;
      text-decoration: underline 2px;
      margin-top: 10px;
  }
  .contact-description {
    font-family: 'TT Squares', sans-serif;
      font-size: 1rem;
      text-align: left;
      margin: 20px 0;
  }
  /* .contact-form {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
  }
  .form-group {
      width: 48.4%;
      position: relative;
  } */
  .contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  .full-width {
      grid-column: span 2;
  }

  .form-group {
      display: flex;
      flex-direction: column;
  }
  .contact-form input:hover, select:hover, textarea:hover {
    box-shadow: 0 0 15px rgba(27, 63, 141, 100%);
  }
  .contact-form input:focus, select:focus, textarea:focus {
    box-shadow: 0 0 15px rgba(27, 63, 141, 100%);
    outline: none;
  }
  label{
    font-family: 'TT Squares', sans-serif;
    font-weight: 700;
    font-size: 1rem;
  }
  input {
    font-family: 'TT Squares', sans-serif;
    font-weight: 300;
    font-size: 1rem;
  }
  select{
    font-family: 'TT Squares', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #656565;
  }
  textarea {
    font-family: 'TT Squares', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    height: 300px;
  }
  .contact-form input, select, textarea {
      width: 100%;
      padding: 10px;
      margin: 10px 0 0 0;
      border: 0.5px solid #1B3F8D;
  }
  .send-button {
    margin: 30px 0 30px 0;
    padding: 10px 40px;
    background: #1B3F8D;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'TT Squares', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.send-button:hover {
  background-color: transparent;
  color: #1B3F8D;
  box-shadow: inset 0 0 0 2px #1B3F8D;
}
.send-button:focus {
  background: #1B3F8D;
  color: white;
}

.modal { 
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-content {
    background: #000000;
    opacity: 0.8;
    padding: 20px;
    text-align: center;
    color: white;
    width: 360px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    position: relative;
}

/* Imagen del icono de cierre */
.xicon {
    width: 18px;
    height: 18px;
}

/* Botón de cierre con posición absoluta */
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.close-modal:hover {
    opacity: 0.6;
}

/* Icono de éxito */
.modal-icon {
    width: 45px;
    margin-bottom: 20px;
}

.modal-title {
  font-family: 'TT Squares', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding: 0 0 5px 0;
}

.modal-text {
  font-family: 'TT Squares', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

















  .footer {
    background-color: #2D333C;
    padding: 50px 10%;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Permite alinear verticalmente según contenido */
    flex-wrap: nowrap; /* Mantiene las columnas en una sola fila */
  }
  
  .footer-column {
    flex: 1;
    margin: 0 20px;
    min-width: 100px;
  }
  
  .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra verticalmente el logo */
    text-align: center;
  }
  
  .footer-column h3 {
    font-family: 'TT Squares', sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    margin-bottom: 20px;
    color: white;
  }
  .footer-column p {
    font-family: 'TT Squares', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
  }
  .footer-column a {
    font-family: 'TT Squares', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
  }
  
  .footer-column a:hover {
    text-decoration: underline;
    opacity: 0.6;
  }
  
  .footer-column a:active {
    opacity: 1;
    text-decoration: underline;
  }
  
  .footer-column .social-icons_footer {
    display: flex;
    gap: 20px;
  }
  
  .social-icons_footer .icon {
    font-size: 24px;
    color: white;
    transition: opacity 0.3s ease;
  }
  
  .social-icons_footer .icon:hover {
    opacity: 0.6;
  }
  
  .social-icons_footer .icon:active {
    opacity: 1;
  }
  
  
  










  /* BOTÓN FLOTANTE - FIJO */
.boton_regreso {
  position: fixed;
  right: 20px;
  bottom: 35px;
  background-color: #1B3F8D;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  transition: all 0.3s ease;
}

.boton_regreso-icono {
  width: 18px; /* Icono versión escritorio */
  height: 18px;
  margin: 10px;
  transition: filter 0.3s ease;
}

.boton_regreso:hover {
  opacity: 0.6;
}

/* FOCUS: Volver al estado normal */
.boton_regreso:active {
opacity: 1;
}
  
  
  /* Responsive */
  /* Reducir el tamaño del logo en la versión móvil */
  @media (max-width: 1050px) {
    /* Css menú */
      .menu {
          display: none;
      }
      .mobile-header {
          display: flex;
      }
      .mobile-header .logo img {
          height: 30px; /* Ajuste de tamaño para versión móvil */
      }
      .mobile-menu nav a:active {
        opacity: 1;
        text-decoration: underline;
      }
      .social-icons .icon :hover {
        opacity: 1;
      }
      .mobile-header .search-toggle img{
        width: 21px;
      }
  
  
  
  
  
  
  
  
      /* Css migas de pan */
      .breadcrumbs {
        padding: 0 20px;
    }
    .breadcrumbs nav {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 8px 0 8px 0;
    }
  
    .breadcrumb-item {
        font-size: 0.75rem;
    }
  
    .breadcrumb-item:not(:first-child):not(:last-child) {
      display: none;
    }
    .breadcrumb-item:hover {
      font-weight: 300;
    }
    
    .breadcrumb-item:active {
      font-weight: 300;
    }
  
    /* .breadcrumb-item:not(:first-child):not(:nth-last-child(2)) {
      display: none;
  } */
  
  
  
  
  



 


  .main-container {
    margin: 0 20px;
    flex-direction: column; /* Se apilan las secciones */
  }
  
  /* Ocultar la primera columna (sidebar) en móvil */
  .sidebar {
    display: none;
  }

  















  .contact-section {
    margin: 15px 0;
  }
  .contact-title {
    font-family: 'TT Squares', sans-serif;
      font-size: 1.125rem;
      margin-top: 15px;
  }
  .contact-description {
      font-size: 0.75rem;
  }
  .contact-form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
      flex-direction: column;
  }
  label{
    font-family: 'TT Squares', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
  }
  input {
    font-family: 'TT Squares', sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
  }
  select{
    font-family: 'TT Squares', sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
    color: #656565;
  }
  textarea {
    font-family: 'TT Squares', sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
    height: 300px;
  }
  .form-group {
      width: 100%;
  }
  .contact-form input:hover, select:hover, textarea:hover {
    box-shadow: none;
  }
  .send-button {
    font-size: 0.75rem;
  }
  .send-button:hover {
    background: #1B3F8D;
    color: #F2F2F2;
    border: none;
}
  .modal-content {
      width: 300px;
  }

  .modal-title {
      font-size: 0.75rem;
  }

  .modal-text {
      font-size: 0.75rem;
  }

  .xicon {
      width: 16px;
      height: 16px;
  }
  .close-modal:hover {
    opacity: 1;
  }
  
  
  

  
  
  
  
  
  
  
  
  
 /* Footer móvil */
 .footer {
  padding: 50px 20px 5px 20px;
}
.footer-container {
  flex-direction: column;
  align-items: center;
}
.footer-column h3 {
  font-size: 0.75rem;
}
.footer-column p {
  font-size: 0.75rem;
}
.footer-column a {
  font-size: 0.75rem;
}

.footer-column {
    margin-bottom: 30px;
    text-align: center;
}

.footer-column a:hover {
    text-decoration: none;
    opacity: 1; /* Igual al estado normal */
}
.social-icons_footer {
  justify-content: center;
  align-items: center;
}
.social-icons_footer .icon {
    font-size: 20px;
}
.social-icons_footer .icon:hover {
  opacity: 1;
}











.boton_regreso {
  width: 30px;
  height: 30px;
}

.boton_regreso-icono {
  width: 18px;
  height: 18px;
}
.boton_regreso:hover {
opacity: 1;
}

/* FOCUS: Volver al estado normal */
.boton_regreso:active {
opacity: 1;
}
  }


